@media only screen and (max-width: 1283px){
    .fall_in_love .photo{
        left: 0;}

}
@media only screen and (max-width: 1081px){
    header nav ul li a{
        font-size: 13px;
        margin-left: 10px;
    }
    .fall_in_love .container{
        margin-left: 10px;
        padding-bottom: 90px;
    }
}
@media only screen and (max-width: 950px){
    .people_and_society .container{
        display: block;
    }
    .people_photo{
        margin: auto;
        margin: 7px;
    }
    .people_text{
        margin: auto;
        text-align: center;
    }
    .culture_and_heritage .container{
        display: block;
    }
    .people_photo2{
        margin: auto;
        margin: 7px;
    }
    .people_text2{
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .power_and_politics .container{
        display: block;
    }
    .people_photo3{
        margin: auto;
        margin: 7px;
    }
    .people_text3{
        margin: auto;
        text-align: center;
    }


}
@media only screen and (max-width: 928px) {
    .header{
        padding: 20px 0 40px;}
    .header-nav ul li a{
        color: #FFFFFF;
    }
    .device-menu {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 55px;
        height: 50px;
        z-index: 11;
        background-color: rgba(0,0,0,0.6);
        width: 45px;
        height: 40px;
        display: block;
    }


    .device-menu .device-menu__inner {
        width: 24px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .device-menu span {
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background-color: white;
        top: 5px;
        left: 0;

    }

    .device-menu span:nth-child(1) {
        top: 0;
        -webkit-transition: rotate, 0.3s;
        transition: rotate, 0.3s;
    }

    .device-menu span:nth-child(2) {
        top: 50%;
    }

    .device-menu span:nth-child(3) {
        top: 100%;
        -webkit-transition: rotate, 0.3s;
        transition: rotate, 0.3s;
    }

    .device-menu.open span:nth-child(1) {
        top: 10px;
        right: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .device-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .device-menu.open span:nth-child(3) {
        top: 10px;
        right: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .header-nav {
        display: none;
    }
    .socials{
        display: none;
    }
    .header-nav.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.97);
        z-index: 10;
        opacity: 1;
        -webkit-transition: opacity 0.6s linear;
        transition: opacity 0.6s linear;
    }

    .header-nav.active .header-nav__inner {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        height: 100%;
        overflow: auto;
    }

    nav.active ul {
        width: 100%;
        text-align: center;
        padding: 0;
        overflow: hidden;
        display: block;
    }

    nav.active ul li {
        padding: 10px 0;
    }

    nav ul {
        padding: 8px 0 0 0;
        display: flex;
    }

    nav ul li {
        padding: 0 0 0 13px;
        list-style: none;
    }

    nav ul li a {
        display: inline-block;
        font-family: "BrandonText", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: white;
        text-transform: uppercase;
        padding: 5px 8px;
        letter-spacing: 0.9px;
        position: relative;
        text-decoration: none;
        transition: color .5s ease-in-out;
    }

    nav ul li a:hover {
        color: white;
        transition: color .3s ease-in-out;
    }
}
@media only screen and (max-width: 890px){
    .fall_in_love .photo{
        overflow: hidden;
    }

}
@media only screen and (max-width: 875px){
    footer{
        padding: 51px 0 16px 0;
    }
    .thalby{
        flex-wrap: wrap;
    }
}




@media only screen and (max-width: 767px) {
    .features .items_description .item{
        width: 50%;
    }
    .discover{
        display: block;
    }
    .discover a{
        margin-bottom: 10px;
    }

@media only screen and (max-width: 572px){
    .logo2{
        margin-bottom: 50px;

    }
    .list ul li a{
        font-size: 12px;
    }
}
@media only screen and (max-width: 500px) {
    .features .items_description .item{
        width: 100%;
    }
}
@media only screen and (max-width: 420px){
    .form_text{
        display: inline-block;
    }
    .form_text input{
        max-width: 145px;
    }
    .form .email{
        width: 98%;
    }
}}
