*{
    margin: 0;
    padding: 0;
}
header{
    padding: 16px 0 15px;
    position: relative;

}
.container{
    max-width: 1064px;
    margin: auto;
}
header .logo{
    position: absolute;
    left:calc(50% - 40px);
}
.d-flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin-right: 28px;
}
header nav ul li a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
.socials{
    display: flex;
    list-style: none;
    position: absolute;
    right: 182px;
    top: 7px;
}
.socials li:first-of-type a{
    position: relative;
    width: 20px;
    height: 20px;
    bottom: -12px;
    margin-right: 15px;
}
.socials li:nth-child(2) a{
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    bottom: -2px;
}
.socials li:nth-child(3) a{
    position: relative;
    width: 36px;
    height: 42px;
}

.fall_in_love{
    background-color: #F0EFEB;;
}
.fall_in_love .container{
    max-width:1088px;
    padding-top:90px;
}
.fall_in_love .text h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.fall_in_love .text p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom:33px;
}
.fall_in_love .text a{
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px 23px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.fall_in_love .photo{
    position: relative;
    top: -70px;
    left: 100px;
}
.our_guides{
    padding-top: 60px;
}
.our_guides .text{
    max-width: 692px;
    margin: auto;
}
.our_guides .text h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}
.our_guides .text .first_p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 47px;
}
.our_guides .text .second_p{
    font-family: 'Roboto,',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 88px;
}
.our_guides .text h4{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 52px;
}
.our_sellers{
    max-width: 1064px;
    padding-bottom: 246px;
    margin: auto;
}
.our_sellers article{
    max-width: 310px;
    margin-bottom: 20px;
}
.our_sellers .ph{
    display: block;
    width: 100%;
    margin-bottom: 22px;
}
.our_sellers article h3{
    margin-bottom: 17px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;

}
.our_sellers article p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom:10px;
}

.our_sellers article a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    display:block;
}
.our_sellers .owl-dots{
    display: flex;
    justify-content: center;

}
.our_sellers .owl-dots .owl-dot span{
    width: 13px;
    height: 13px;
    display: inline-block;
    background: gray;
    border-radius: 50%;
    margin: 0 3px;
}
.our_sellers .owl-dots .owl-dot.active span{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background: black;


}