
$main_font:'Roboto',sans-serif;
$black_color:#000000;
$gray_color:#1C1B1B;
$white_color:#F0EFEB;

*{
  margin: 0;
  padding: 0;
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
header{
  padding: 16px 0 15px;
  position: relative;
  @include max-screen(928px){
    padding: 20px 0 40px;
  }
.logo{
  position: absolute;
  left:calc(50% - 40px);
}nav{
  @include max-screen(928px){
    display: none;
  }

  ul{  display: flex;
    list-style: none;
    @include max-screen(928px){
      padding: 8px 0 0 0;
      display: flex;
    }
    li{
      margin-right: 28px;
      @include max-screen(928px){
        padding: 0 0 0 13px;
        list-style: none;
      }
      a{
        font-family:$main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color:$gray_color;
        text-decoration: none;
        @include max-screen(1081px){
          font-size: 13px;
          margin-left: 10px;
        }
        @include max-screen(928px){
          color: $white_color;
          display: inline-block;
          font-family: "BrandonText", Helvetica, Arial, sans-serif;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          padding: 5px 8px;
          letter-spacing: 0.9px;
          position: relative;
          text-decoration: none;
          transition: color .5s ease-in-out;
        }
        :hover{
          @include max-screen(928px){
            color: $white_color;
            transition: color .3s ease-in-out;
          }
        }
      }
    }
  }
 }
}

.container{
  max-width: 1064px;
  margin: auto;
}
.d-flex{
  display: flex;
}
.items-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}

.socials{
  display: flex;
  list-style: none;
  position: absolute;
  right: 182px;
  top: 7px;
  @include max-screen(928px){
    display: none;
  }
  li:first-of-type a{
    position: relative;
    width: 20px;
    height: 20px;
    bottom: -12px;
    margin-right: 15px;
  }
  li:nth-child(2) a{
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    bottom: -2px;
  }
  li:nth-child(3) a{
    position: relative;
    width: 36px;
    height: 42px;
  }
}
.fall_in_love{
  background-color: $white_color;
  .container{
    max-width:1088px;
    padding-top:90px;
    @include max-screen(1081px){
      margin-left: 10px;
      padding-bottom: 90px;
    }
  }
  .text{
    h1{font-family:$main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 70px;
      color: $black_color;
      margin-bottom: 42px;
    }
    p{font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $black_color;
      margin-bottom:33px;
    }
    a{  background: $black_color;
      border: 1px solid #000000;
      border-radius: 100px;
      padding: 7px 23px 9px 23px;
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      color:$white_color;
      text-decoration: none;
    }
  }
  .photo{
    max-width: 600px;
    width: 100%;
    position: relative;
    top: -70px;
    left: 100px;
    @include max-screen(1283px){
      left: 0;

    }
    @include max-screen(890px){
      overflow: hidden;
      width: 120%;
    }
    @include max-screen(758px){
      display: none;
    }

    image{
      width: 100%;
      height: auto;
    }
  }
}
.our_guides{
  padding-top: 60px;
  .text{
    max-width: 692px;
    margin: auto;
    h3{
      font-family:$main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: $black_color;
      margin-bottom: 27px;
    }
    h4{
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: $black_color;
      margin-bottom: 52px;

    }
    .first_p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: $black_color;
      margin-bottom: 47px;
    }
    .second_p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: $black_color;
      margin-bottom: 88px;
    }
  }
}
.our_sellers{
  max-width: 1064px;
  padding-bottom: 246px;
  margin: auto;
  article{
    max-width: 310px;
    margin: auto;
    h3{
      margin-bottom: 17px;
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: $black_color;
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: $black_color;
      margin-bottom:10px;
    }
    a{
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      text-decoration-line: underline;
      color: $black_color;
      display:block;
    }
    .ph{
      display: block;
      width: 100%;
      margin-bottom: 22px;
    }
  }
  .owl-dots{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .owl-dot {
      span{
        width: 13px;
        height: 13px;
        display: inline-block;
        background: gray;
        border-radius: 50%;
        margin: 0 3px;
      }
      .active{
        span{
          width: 15px;
          height: 15px;
          display: inline-block;
          border-radius: 50%;
          background: $black_color;
        }
      }
    }
  }
}
.people_and_society{
  background-color: rgba(204, 204, 204, 0.3);
  padding: 76px 0 51px 0;
  .container{
    max-width:1164px;
    @include max-screen(950px){
      display: block;
    }
    .people_text{
      max-width:532px;
      padding-top: 70px;
      @include max-screen(950px){
        margin: auto;
        text-align: center;
      }
      h3{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: $black_color;
        margin-bottom: 31px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: $black_color;
        margin-bottom: 40px;
      }
      a{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        color: $black_color;
      }
    }
    .people_photo{
      max-width: 385px;
      margin-right: 50px;
      @include max-screen(950px){
        margin: auto;
      }
      .ph2{
        display: block;
        width: 100%;
      }
    }
  }
}
.culture_and_heritage{
  background: rgba(204, 204, 204, 0.6);
  padding: 76px 0 51px 0;
  .container{
    max-width:1164px;
    @include  max-screen(950px){
      display: block;
    }
    .people_text2{
      max-width:513px;
      padding-top: 92px;
      text-align: right;
      @include max-screen(950px){
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
      }
      h3{
        font-family:$main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: $black_color;
        margin-bottom: 31px;
      }
      p{ font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: $black_color;
        margin-bottom: 31px;
      }
      a{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        color: $black_color;
        display: block;
      }
    }
    .people_photo2{
      max-width: 385px;
      margin-left: 50px;
      @include max-screen(950px){
        margin: auto;
      }
      .ph2{
        width: 100%;
        display: block;
      }
    }
  }
}
.power_and_politics{
  background: rgba(204, 204, 204, 0.3);
  padding: 76px 0 51px 0;
  .container{
    max-width: 1164px;
    @include max-screen(950px){
      display: block;
    }
    .people_photo3{
      max-width: 385px;
      margin-right: 50px;
      @include max-screen(950px){
        margin: auto;
      }
      .ph2{
        width: 100%;
        display: block;
      }
    }
    .people_text3{
      max-width:532px;
      padding-top: 92px;
      @include max-screen(950px){
        margin: auto;
        text-align: center;
      }
      h3{ font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: $black_color;
        margin-bottom: 31px;}
        p{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          color: $black_color;
          margin-bottom: 39px;}
          a{
            font-family: $main_font;
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 20px;
            color: $black_color;}
          }
        }
}
.features {
  padding-top: 190px;
  padding-bottom: 290px;
  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: $black_color;
    margin-bottom: 69px;
  }
  .items_description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 55px;
    padding-bottom: 56px;
    &:last-of-type .item:first-of-type:before{
      background-color: #D38F62;
    }
    &:last-of-type .item:nth-child(2):before{
      background-color: #F94C43;
    }
    &:last-of-type .item:nth-child(3):before{
      background-color: #D399FF;
    }
    }
    .item {
      width: 33%;
      text-align: center;
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      color: $black_color;
      @include max-screen(767px){
        width: 50%;
      }
      @include max-screen(500px){
        width: 100%;
      }
      &:before {
        content: "";
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 26px;
        background-color: #21F7EC;
      }
      &:nth-child(2):before {
        background-color: #33D3BC;
      }

      &:nth-child(3):before{
        background-color: #18A5C6;
      }
  }
  h5{
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: $black_color;
  }
}
#accordion{
  margin-bottom:52px;
}
.ui-widget-content{
  border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  border: none;
  background-color: transparent;
  color: black;
}
.ui-icon{
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;
  overflow: auto;
}
.ui-icon:before {
  content: "\f054";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 45px;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon, .ui-state-active .ui-icon, .ui-button:active .ui-icon{
  background-image: none;
}
.ui-accordion .ui-accordion-header.ui-state-active{
  display: block;
}
.ui-state-active .ui-icon:before {
  content: "\f054";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 45px;
}
.ui-state-active .ui-icon{
  transition: 0.3s;
  transform: rotate(90deg);
  display: inline-block;
}

.transp_photos{
  background-color: #F0F0F0;
  padding-bottom: 52px;
  .discover{
    max-width:1164px;
    margin: auto;
    position: relative;
    top: -190px;
    @include max-screen(767px){
      display: block;
    }
    article{
      max-width: 288px;
      margin: auto;
      a{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-decoration-line: underline;
        color: $black_color;
        display: block;
        @include max-screen(767px){
          margin-bottom: 10px;
        }
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.6px;
        color: $black_color;
        margin-bottom: 35px;
      }
      .city{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: $black_color;
        margin-bottom: 44px;
      }
    }
    .semi_photo{
      display: block;
      width: 100%;
      margin-bottom: 35px;
    }
  }
}
.keep_in_touch{
  padding-top: 79px;
  padding-bottom: 88px;
  .container{
    max-width: 570px;
    text-align: center;
    h4{
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: $black_color;
      margin-bottom: 9px;
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: $black_color;
      margin-bottom: 26px;
    }
    .form{
      max-width: 366px;
      box-sizing: border-box;
      margin: auto;
      .email{
        border: 1px solid #000000;
        border-radius: 0px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #A0A0A0;
        padding: 13px 0 10px 8px;
        width: 100%;
        margin-bottom: 16px;
        box-sizing: border-box;
        @include max-screen(420px){
          width: 98%;
        }
      }
      button{
        background: $black_color;
        border: 1px solid #000000;
        border-radius: 100px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: $white_color;
        padding: 7px 23px 10px;
      }
    }
    .form_text{
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      @include max-screen(420px){
        display: inline-block;
      }
      input{
        border: 1px solid #000000;
        border-radius: 0px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #A0A0A0;
        padding: 12px 0 11px 8px;
        max-width: 153px;
        @include max-screen(420px){
          max-width: 145px;
        }
      }
    }
  }
}
footer{
  background: #020202;
  padding: 51px 148px 16px 148px;
  @include max-screen(875px){
    padding: 51px 0 16px 0;
  }
  p{
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: $white_color;
  }
  .thalby{
    max-width: 1144px;
    padding: 0 56px 20px 25px;
    display: flex;
    justify-content: space-between;
    @include max-screen(875px){
      flex-wrap: wrap;
    }
    .logo2{
      max-width:487px;
      @include max-screen(572px){
        margin-bottom: 50px;
      }
      ul{
        display: flex;
      }
      li{
        a{ margin-right: 10px;
          margin-left: 10px;
        }
      }
      .frame{
        display: block;
        margin-bottom: 37px;
      }
    }
    .list{
      display: flex;
      ul{
        li{
          a{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: $white_color;
            text-decoration: none;
            display: block;
            margin-bottom:12px;
            @include max-screen(572px){
              font-size: 12px;}
          }
        }
      }
    }
      .another{
        display: block;
        margin-bottom: 36px;
      }
      .list_about{
        margin-right: 128px;
      ul{
        li{
      }
    }
  }
}
}
@include max-screen(928px){
  .device-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 50px;
    z-index: 11;
    background-color: rgba(0,0,0,0.6);
    width: 45px;
    height: 40px;
    display: block;
    .open span:nth-child(1) {
      top: 10px;
      right: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .open span:nth-child(2) {
      opacity: 0;
    }
    .open span:nth-child(3) {
      top: 10px;
      right: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    span{
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: white;
      top: 5px;
      left: 0;
      &:nth-child(1) {
        top: 0;
        -webkit-transition: rotate, 0.3s;
        transition: rotate, 0.3s;
      }

      &:nth-child(2) {
        top: 50%;
      }

      &:nth-child(3) {
        top: 100%;
        -webkit-transition: rotate, 0.3s;
        transition: rotate, 0.3s;
      }
    }
    .device-menu__inner{
      width: 24px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

    }
  }
}
.header-nav.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.97);
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}

.header-nav.active .header-nav__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  height: 100%;
  overflow: auto;
}

nav.active ul {
  width: 100%;
  text-align: center;
  padding: 0;
  overflow: hidden;
  display: block;
}

nav.active ul li {
  padding: 10px 0;
}
nav.active ul li a {
  display: inline-block;
  font-family: "BrandonText", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-transform: uppercase;
  padding: 5px 8px;
  letter-spacing: 0.9px;
  position: relative;
  text-decoration: none;
  transition: color .5s ease-in-out;
}





